body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.container{
    display: flex;
    background-color: aliceblue;
    height: 700px;
    flex-direction: row;
    gap: 20px;
       
    
    
}
.item{
    margin: 20px;
     flex-basis:300px;
     border-radius: 20px;
}

.flex_box1{
    background-color: green;
}

.flex_box2{
    background-color: rgb(115, 206, 232);
    height: 400px;
    margin-top: 280px;
    
}

.flex_box3{
    background-color: green;
    
}